.messageBox {
  padding: 1vmax;
  margin: 1.5vmax;
  border-radius: 0.5vmax;
  display: inline-block;
  clear: both;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2vmax;
}

.right {
  float: right;
  background-color: crimson;
  color: white;
  text-align: right;
}

.left {
  float: left;
  background-color: rgb(191, 236, 127);
  text-align: left;
}

.admin.join{
  float: left;
  background-color: rgb(123, 145, 226);
  text-align: left;
}

.admin.welcome{
    float: left;
    background-color: rgb(140, 248, 229);
    text-align: left;

}

.admin.leave{
    float: left;
    background-color: red;
    text-align: left;
    color: antiquewhite;
}
