.JoinPage {
  background-color: rgb(40, 36, 36);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.JoinContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.JoinContainer > img {
  width: 10vmax;
}

.JoinContainer > h1 {
  color: white;
  font-size: 2.5vmax;
  font-family: "Roboto";
  width: 25vmax;
  border-bottom: 0.2vmax solid white;
  padding: 1vmax;
  text-align: center;
  /* margin-bottom: 1vmax; */
  box-sizing: border-box;
}

#joinInput {
  width: 25vmax;
  padding: 1.5vmax;
  border: none;
  outline: none;
  font-size: 1.2vmax;
  margin: 2vmax;
  box-sizing: border-box;
}

.joinbtn {
  width: 25vmax;
  padding: 1vmax;
  border: none;
  outline: none;
  font-size: 1.2vmax;
  box-sizing: border-box;
  background-color: crimson;
  color: white;
  font-family: "Roboto";
  transition: all 0.5s;
  cursor: pointer;
}

.joinbtn:hover {
  background-color: rgb(185, 12, 47);
  transform: scale(1.02);
}
