.JoinPage {
  background-color: rgb(40, 36, 36);
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.JoinContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.JoinContainer > img {
  width: 8vmax;
}

.JoinContainer > h1 {
  color: white;
  font-size: 2.5vmax;
  font-family: "Roboto";
  width: 25vmax;
  border-bottom: 0.2vmax solid white;
  padding: 1vmax;
  text-align: center;
  /* margin-bottom: 1vmax; */
  box-sizing: border-box;
}

#joinInput {
  width: 25vmax;
  padding: 1.2vmax;
  border: none;
  outline: none;
  font-size: 1.2vmax;
  margin: 2vmax;
  box-sizing: border-box;
}

.joinbtn {
  width: 25vmax;
  padding: 1vmax;
  border: none;
  outline: none;
  font-size: 1.2vmax;
  box-sizing: border-box;
  background-color: crimson;
  color: white;
  font-family: "Roboto";
  transition: all 0.5s;
  cursor: pointer;
}

.joinbtn:hover {
  background-color: rgb(185, 12, 47);
  transform: scale(1.02);
}

.rooms {
  max-width: 80%;
  padding: 2vmax;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2vmax;
}

.rooms  .roomCard {
  padding: 1vmax;
  color: white;
  margin: 0.8vmax 0vmax;
  border: crimson 1px solid;
  transition: all 0.4s;
  cursor: pointer;
  font-size: 1.3vmax;
  font-family: "Roboto";
  
}

.rooms > a{
  text-decoration: none;
}

.rooms  .roomCard:hover {
  background-color: crimson;
}

.roomHeading {
  color: white;
  width: 80%;
  text-align: center;
  font-size: 2vmax;
  padding-bottom: 0.5vmax;
}
