* {
  margin: 0%;
  padding: 0%;
}

@media screen and (max-width: 600px) {
  .JoinPage {
    display: flex;
    justify-content: center;
    align-items: flex-start !important;
  }

  .JoinContainer {
    margin-top: 20vw !important;
    width: 100% !important;
  }

  .JoinContainer > img {
    width: 30vw !important;
  }

  .JoinContainer > h1 {
    font-size: 6vw !important;
    width: 65vw !important;
    border-bottom: 0.6vw solid white !important;
    padding: 3vw !important;
  }

  #joinInput {
    width: 65vw !important;
    padding: 3vw !important;
    font-size: 5vw !important;
    margin: 5vw !important;
  }

  .joinbtn {
    width: 65vw !important;
    padding: 4vw !important;
    font-size: 5vw !important;
  }

  .chatContainer {
    background-color: white;
    height: 100% !important;
    width: 100% !important;
  }

  .header {
    height: 10% !important;
  }

  .header > h2 {
    margin: 4vw !important;
    font-size: 5vw !important;
  }

  .header img {
    margin: 4vw !important;
    transform: scale(2) !important;
  }
  .header img:hover {
    transform: scale(3.2) !important;
  }

  .chatBox {
    height: 80% !important;
  }

  .inputBox {
    height: 10% !important;
  }

  #chatInput {
    padding: 4vw !important;
    font-size: 4.5vw !important;
  }

  .messageBox {
    padding: 3vw !important;
    margin: 3vw !important;
    border-radius: 1.5vw !important;
    font-size: 3.7vw !important;
  }

  .activeUsers {
    margin-right: 1vw !important;
  }

  .activeUsers > span {
    font-size: 4.5vw !important;
  }

  .activeUsers > p {
    font-size: 4.5vw !important;
  }

  .roomHeading {
    font-size: 5.5vw !important;
    margin-bottom: 2vw !important;
  }

  .rooms {
    width: 100% !important;
  }

  .rooms .roomCard {
    padding: 2vw 1.5vw !important;

    margin: 2vw 1vw !important;

    font-size: 3.5vw !important;
  }
  
  .messageBox>.time{
    font-size: 2.7vw !important;
  }

}
